body{

margin:0;
padding: 0;
margin-top: 150px;

}

.grid-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

 background-color: #ffe98f;
}
.grid-layout-section{

    padding: 0px;
    display:flex;
}
.grid-layout-section:nth-child(1){

    top:148px;
    grid-column: 2/4 ;
    grid-row: 1/1;
    background-color:#d5f5e3;
}
    
.grid-layout-section:nth-child(2){
    grid-column: 2 / 4;
    grid-row: 2/2;
    background-color:#76d7c4;
}
/*
.grid-layout-section:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 3/3;
    background-color:lightskyblue;
}
*/
header{
    display:flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width:100%;
    height: 140px;
    top: 0;
    right: 0;
   z-index:100;
}
h1{

    font: size 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}   

h2{
    display:flex;
    font-size: 25px;
    text-align: light;
    background-color: none;
    padding: 10px; 
    width:100%;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}
h3{
    font-size: 20px;
    text-align: left;
    color: rgba(5, 5, 5, 0.979);
    padding: 5px; 
    margin-left: 50px;
}
#bloque{
    /*width: 100vw;*/
    padding: 5px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
#orden{
    /*padding: 10px;*/
    margin: 0 auto;
    background-color: #d1f2eb;
    width: 500px
}
    
button{

    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}
nav{
 
   padding:5px;
   margin-left: 15%;
   
} 
nav a{
color: white;
text-decoration: none;
margin-right: 20px;
}

#pie{
    padding: 5px;
    text-align: end;
    background-color: #d9e62f;
    font-family: 'Segoe UI';
    height: 40px;
    width: 100%;
    align-content: center;
    margin:0;

}

    