

body{
    margin: 0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    /**background: #313052**/
    width: 100%;
    height: 100vh;
    font-family: 'abadito', 'Segoe UI', Tahoma, Verdana, sans-serif;
    
    background: #d5f5e3 
}
/* barra de navegacion*/

.navegacion{
		
		margin: 0 auto;
		background:#d9e62f;
        text-align: right;
}  
.navegacion ul{
		list-style:  none;
}  
.menu > li {
		display: inline-block;
}
.menu > li > a{
		display: block;
		padding:5px;
		color:#d9e62f;
		font-family: 'Segoe UI';
		text-decoration: none;
        color:blue;
        
}

/*Fin barra de navegacion */

.titulo1{
    font-size: 35px;
    text-align: center;
    /*color: rgba(251, 255, 0, 0.979);
    background-color: rgba(23, 119, 52, 0.918);*/
    padding: 5px; 
}
.titulo2{
    font-size: 25px;
    text-align: center;
    background-color: rgba(82, 231, 127, 0.918);
   /* padding: 2px; */
}
.titulo3{
    font-size: 20px;
    text-align: left;
    color: rgba(5, 5, 5, 0.979);
    padding: 5px; 
    margin-left: 50px;

}
.titulo4{
    font-size: 20px;
    /*margin: 0 auto;*/
    margin-left: 0px;
    color: #145a32;
    padding: 10px; 
    width: 250px;
    background-color: #d5f5e3;
}
.titulo4a{
    font-size: 20px;
    /*margin: 0 auto;*/
    /*margin-left: 100px;*/
    color: #145a32;
   padding: 5px; 
    width: 200px;
    background-color: #d5f5e3;
}
#bloque{
    /*width: 100vw;*/
    padding: 5px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
#orden{
    /*padding: 10px;*/
    margin: 0 auto;
    background-color: #d1f2eb;
    width: 500px
    
}
#pie{
    padding: 5px;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #d9e62f;
    font-family: 'Segoe UI';
    
}

    
